global
  log /dev/log    local0
  log /dev/log    local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode tcp
  option tcpka
  timeout connect 10s
  timeout server 60s
  timeout client 60s

frontend stats
  bind *:8080
  mode http
  stats enable
  stats refresh 60s
  stats hide-version
  stats realm HAproxy-Statistics
  stats uri /haproxy?stats

frontend {{ frontend_name_cluster }}
  bind *:{{ cluster_port }} name {{ cluster_name }}
  default_backend {{ backend_name_cluster }}

backend {{ backend_name_cluster }}
  balance {{ balance_type }}
  server {{ hostname_server01 }} {{ ip_server01 }}:{{ cluster_port }} check inter 1s rise 2 fall 2
  server {{ hostname_server02 }} {{ ip_server01 }}:{{ cluster_port }} check inter 1s rise 2 fall 2
  server {{ hostname_server03 }} {{ ip_server01 }}:{{ cluster_port }} check inter 1s rise 2 fall 2

